*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 100;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    height: auto;
    border: 1px solid #ccc;
    padding: 19px;
    /* background-color: rgb(26, 25, 25); */
    color: white;
    border-radius: 50px 0 60px 0px;
    /* background: linear-gradient(to top, #fceabb, #f8b500); */
    /* background: linear-gradient(to top, #d3cce3, #e9e4f0); */
    /* background: linear-gradient(to top, #616161, #9bc5c3);  */
    background-color: #bde0fe;
}

.app{
   color: rgb(0, 12, 0);
   justify-content: flex-start;
   flex-direction: row;
   gap: 20px;
   display: grid;
row-gap: 20px;
}


input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}

.wheater-info{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: green;
}

.temp{
    display: flex;
}